body {
  background-color: #F2F2F2;
  color: #00364F;
  font-weight: 600;
}

.header {
  text-align: center;
  font-size: 2em;
  padding-bottom: 5px;
}

.formBox {
  width: 400px;
  background-color: #FFFFFF;
  border: 1px solid #7E98A4;
  border-radius: 5px;
  position: absolute;
  padding: 20px;
  margin: 10px 20px;
  left: 33.33%;
  right: 33.33%;
}

.mainBox {
  background-color: #FFFFFF;
  border: 1px solid #7E98A4;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 20px;
}

.btn {
  width: 100%;
  background-color: #ED4238;
  margin-top: 10px;
}

.link {
  text-align: center;
  color: #00364F;
  margin-top: 15px;
}

.label {
  padding-top: 5%;
  padding-bottom: 15px;
  text-align: center;
}

.inputField {
  border-color: #7E98A4;
  color: #00364F;
}

.signUp {
  margin-top: 5%;
}

.urlError {
  color: #ED4238;
  font-weight: 700;
}

.urlButton {
  max-width: 25%;
}

.signOut {
  text-align: right;
  padding-right: 25px;
  padding-top: 15px;
}

.urlHeader {
  text-align: left;
  padding-left: 25px;
}

.headerRow {
  margin-top: 5%;
}

.invalid {
  border-color: red;
}

td, th {
  word-break: break-all;
}

table {
  table-layout: fixed;
  width: 100%;
}

.hits {
  width: 20%;
  max-width: 140px;
}

.tiny {
  width: 30%;
  max-width: 390px;
}